/*初始化开始*/
a{
    text-decoration: none;
    -webkit-touch-callout: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    /*-webkit-appearance: none;*/
}
img {
    -webkit-touch-callout: none;
}
body {
    margin: 0 auto;
    width: 10rem;
    min-width: 350px;
    max-width: 780px;
    overflow-y: hidden;
    background: rgba(232,234,231,0.6);
}
h1{
    font-weight: bold;
}
/*初始化结束*/



/*导航栏被选开始*/
.selected i {
    color: cornflowerblue;
}
/*导航栏被选结束*/


/*媒体查询开始*/
@media screen and (min-width: 780px) {
    html {
        font-size: 78px !important;
    }
}
@media screen and (max-height: 350px) {
    html {
        font-size: 35px !important;
    }
}
/*媒体查询结束*/




/*模态框开始*/
.modal-box {
    position: fixed;
    top: 7.051rem  /* 550/78 */;
    left:2.564rem  /* 200/78 */;
    height:5.128rem  /* 400/78 */;
    width:5.128rem  /* 400/78 */;
    background: #FFFFFF;
    z-index: 999;
    border: 0.026rem  /* 2/78 */ solid black;
    border-radius: 0.192rem  /* 15/78 */;
}

.modal-box i {
    position: absolute;
    top: -0.449rem  /* -35/78 */;
    right: -0.449rem  /* -35/78 */;
    font-size:1.026rem  /* 80/78 */;
    color: rgba(0, 0, 0, 0.8);
}

.modal-box img {
    width: 100%;
    height: 100%;
    border-radius: 0.192rem  /* 15/78 */;
}
/*模态框结束*/



/*header开始*/

     /*原始框结束*/
.header {
    position: fixed;
    top: 0;
    width: 10rem  /* 780/78 */;
    height: 1.385rem  /* 108/78 */;
    background-color: #4e5174;
    z-index: 1;
}
.header .input, .dropDown {
    position: relative;
    bottom: 0.385rem  /* 30/78 */;
    width: 6.41rem  /* 500/78 */;
    height: 0.769rem  /* 60/78 */;
    margin: 0.256rem  /* 20/78 */ auto;

}
.header .input input {
    width: 100%;
    height: 0.769rem  /* 60/78 */;
    border-radius: 0.128rem  /* 5/78 */;
    border: none;
    outline: none;
    padding-left: 0.385rem  /* 30/78 */;
    margin-top:0.5rem ;
}

.header  .origin-border {
    position: absolute;
    top: 0.641rem  /* 50/78 */;
    right: 0.128rem  /* 10/78 */;
    font-size: 0.641rem  /* 50/78 */;
    font-weight: 560;
    color: cornflowerblue;
    opacity: 0.8;
}
       /*原始框结束*/


       /*下拉框开始*/
.header .dropDown {
    position: relative;
    top:0.263rem;
    width: 6.41rem  /* 500/78 */;
    margin: 0.1rem  /* 20/78 */ auto ;
    margin-bottom: 0 !important;
    border-bottom: 0.026rem  /* 2/78 */ solid rgba(217, 220, 241, 0.8);
    border-radius: 0.128rem  /* 10/78 */;
    padding-bottom:0.256rem  /* 20/78 */;
    background-color: #fff;
    /*background: rgba(217, 220, 241);*/
    /*background: red;*/
}
.header .dropDown .dropDown-input {
    position: relative;
    top:0;
    width: 6.41rem  /* 500/78 */;
    border-radius: 0.128rem  /* 10/78 */;
    background: #bbbdba;
}
.header .dropDown-input input{
    position: absolute;
    top:0;
    left:0;
    width: 6.41rem  /* 500/78 */;
    height: 0.769rem  /* 60/78 */;
    border-radius: 0.064rem  /* 5/78 */;
    border: none;
    outline: none;
    padding-left: 0.769rem  /* 60/78 */;
    padding-right: 1.667rem  /* 130/78 */;
    letter-spacing:0.077rem  /* 6/78 */;
    font-size: 0.256rem  /* 20/78 */;
}
.header .dropDown-input .icon-cha {
    position: absolute;
    top: 0.256rem  /* 20/78 */;
    right: 1.026rem  /* 80/78 */;
    font-size: 0.385rem  /* 30/78 */;
    font-weight: 560;
    color: cornflowerblue;
    opacity: 0.8;
}
.header .dropDown-input .Drop-down-box {
    position: absolute;
    top: 0.154rem  /* 12/78 */;
    right: 0.128rem  /* 10/78 */;
    font-size: 0.641rem  /* 50/78 */;
    font-weight: 560;
    color: cornflowerblue;
    opacity: 0.8;
}
        /*showList开始*/
.header .showList {
    position: relative;
    top:0.79rem ;
    width: 6.41rem  /* 500/78 */;
    /*padding-bottom: 0.192rem  !* 15/78 *!;*/
    border-top:2px solid #bbbdba;
    border-radius: 0.128rem  /* 10/78 */;
    background-color: #fff;
    max-height: 3.8rem;
    overflow: auto;
}

.header .dropDown .showList  ul:first-child {
    margin-top: 0.256rem  /* 20/78 */ !important;
}
.header .dropDown li {
    font-size: 0.385rem  /* 30/78 */;
    letter-spacing: 0.051rem  /* 4/78 */;
    margin: 0.06rem  /* 30/78 */ 0.513rem  /* 40/78 */;
    list-style: none;
    height: 0.769rem;
}
            /*showList结束*/

      /*下拉框结束*/


/*header结束*/






/*轮播图开始*/

.container {
    position: relative;
    width:9.487rem  /* 740/78 */;
    height: 3.5rem  /* 273/78 */;
    margin: 1.538rem  /* 120/78 */  auto 0;
    /*padding: q0px;*/
    border: 0.026rem  /* 2/78 */ solid rgba(232,234,231);
    border-radius: 0.513rem  /* 40/78 */  ;
    background: rgba(251,251,450);
    z-index: 0;
}

.container .rotation-map{
    position: relative;
    width: 9.4rem;
    height: 3.45rem  /* 273/78 */;
    border-radius: 0.513rem  /* 20/78 */  ;
    overflow: hidden;
}
.container .rotation-map img {
    width:9.487rem  /* 740/78 */;
    height: 3.5rem  /* 273/78 */;

}
.container .rotation-map  ol {
    position: absolute;
    bottom: -0.2rem  /* 10/78 */;
    right: 4.25rem  /* 10/78 */;
    margin-bottom: 0.256rem  /* 20/78 */;
}
.container .rotation-map  ul {
    width:47.436rem  /* 3700/78 */;
    margin-left: -100%;
}
.container .rotation-map ul li {
    float: left;
    margin-right: 0.513rem  /* 40/78 */;
}
.container .rotation-map ul:first-child,
.container .rotation-map ul:last-child{
    margin: 0 0 !important;
}
.container .rotation-map ol li {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    transition: all .3s;
}
.container .rotation-map ol li.current{
    width: 15px;
}
.container .rotation-map  div{
    margin-top: 20px;
}
/*轮播图结束*/






/*优惠券部分开始*/
.discount {
    position: relative;
    width:9.487rem  /* 740/78 */;
    margin: 0.385rem  auto  0 /* 30/78 */;
    padding: 0.128rem  /* 10/78 */ 0.256rem  /* 20/78 */;
    border-radius: 0.513rem;
    background: #959ec9;
    z-index: 1;
}
        /*优惠券header开始*/
.discount .discountHeader {
    width: 8.718rem  /* 680/78 */;
    height: 0.769rem  /* 60/78 */;
    background: #959ec9;
    /*margin-left: -10px;*/
    border-radius: 0.256rem  /* 20/78 */ 0.256rem  /* 20/78 */ 0 0;
}
.discount .discountHeader::before {
    content:"";
    position: absolute;
    width: 0.256rem  /* 20/78 */;
    height: 0.256rem  /* 16/78 */;
    top: 0.35rem  /* 36/78 */;
    left: 0.308rem  /* 24/78 */;
    border-right:0.064rem  /* 5/78 */ solid #fff;
    border-bottom:0.064rem  /* 2/78 */ solid #fff;
    transform: rotate(-45deg);
}
.discount .discountHeader h1 {
    font-size: 0.6rem  /* 54/78 */;
    letter-spacing: 0.128rem  /* 10/78 */;
    color: rgba(232,234,231);
    line-height: 0.641rem ;
    padding-left: 0.8rem  /* 40/78 */;
}
        /*优惠券header结束*/


       /*券开始*/
.discount .ticket {
    max-height:9rem  /* 1050/78 */;
    border-radius: 0.256rem  /* 20/78 */ 0.256rem  /* 20/78 */ 0.256rem 0.256rem;
    overflow: auto;
    overflow-x: hidden;
}
.discount .discounts_ticket {
    display: flex;
    justify-content: flex-start;
    width: 9rem  ;
    height: 1.667rem  /* 130/78 */;
    background: #fbfbfa;
    border-radius: 0.256rem 0.256rem 0.256rem 0.256rem;
    margin: 0.256rem  /* 20/78 */  auto  0.1rem;
}

.discount .discounts_ticket .fullminus {
    flex: 2;
    width: 2.436rem  /* 190/78 */;
    height:1.282rem  /* 100/78 */;
    margin-left: 0.256rem  /* 20/78 */;
    margin-top: 0.205rem  /* 16/78 */;
    /*padding: 0.1rem  !* 10/78 *! 0.128rem  !* 10/78 *! 0.128rem  !* 10/78 *! 0.128rem;*/
    background: #94557a;
    border-radius: 0.128rem  /* 10/78 */ 0.128rem  /* 10/78 */;
}

.discount .discounts_ticket .fullminus  h1 {
    text-align: center;
    line-height: 1.282rem;
    font-size:0.513rem  /* 40/78 */;
    font-weight: 520;
    color: #e8eae7;
}


.discount .discounts_ticket .name {
    flex: 4.5;
    margin-bottom: 1rem;
}
.discount .discounts_ticket .name .boosname {
    width: 3.846rem  /* 300/78 */;
    height: 0.185rem  /* 30/78 */;
    margin-top: 0.15rem ;
    margin-left: 0.256rem  /* 20/78 */;
    margin-bottom: 0.5rem  ;
}
.discount .discounts_ticket .name .boosname h1 {
    font-size:0.15rem  /* 25/78 */;
    font-weight: bold;
    letter-spacing: 0.064rem  /* 5/78 */;
}
.discount .discounts_ticket .name .elt {
    display: flex;
    justify-content: flex-start;
    width:3.205rem  /* 250/78 */;
    height:0.923rem  /* 72/78 */;
    margin-bottom: 0.205rem  /* 16/78 */;
}
.discount .discounts_ticket .name .first-elt,
.discount .discounts_ticket .name .second-elt {
    border: 0.026rem  /* 2/78 */ solid #acabb6;
    border-radius: 0.128rem  /* 10/78 */;
    padding:0 0.1rem;
    margin: 0.103rem  /* 8/78 */ 0.051rem  /* 4/78 */  0.256rem  /* 20/78 */  0.256rem  /* 20/78 */;
}
.discount .discounts_ticket .name .elt h1 {
    line-height: 0.45rem  ;
    margin: 0.05rem auto;
    font-size: 0.321rem  /* 25/78 */;
    color: rgba(119,118,138);
    font-weight: 600;
}

.discount .discounts_ticket .usediscount {
    flex: 1.5;
    width: 1.538rem  /* 120/78 */;
    height: 0.641rem  /* 50/78 */;
    background: #902d53;
    border-radius: 0.128rem  /* 10/78 */ 0.128rem  /* 10/78 */;
    margin-top: 0.769rem  /* 60/78 */;
    margin-right:0.513rem  /* 40/78 */;
    padding: 0 0.128rem  /* 10/78 */;
}

.discount .discounts_ticket .usediscount h1 {
    line-height:0.641rem;
    font-size: 0.385rem  /* 30/78 */;
    font-weight: 400;
    letter-spacing: 0.051rem  /* 4/78 */;
    color: #fbfbfa;
}
        /*券开始*/

/*优惠券部分结束*/




/*footer开始*/

.footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 10rem  /* 780/78 */;
    height: 1.564rem  /* 122/78 */;
    justify-content: space-around;
    padding-bottom: 1.8rem;
    border-top: 0.026rem  /* 2/78 */ solid #fff ;
    background: white;
    z-index: 999;
}

.footer h1 {
    font-size: 0.256rem  /* 20/78 */;
}
.footer span {
    display: flex;
    justify-content: space-around;
}
.footer i {
    font-size: 1.026rem  /* 80/78 */;
}
.footer .news {
    display: flex;
    flex-direction: column;
    margin-top: 0.128rem  /* 10/78 */;
    /*margin-left: 50px;*/
}
.footer .iFirst {
    display: flex;
    flex-direction: column;
    /*margin-top:0px;*/
    /*margin-left: 100px;*/
}
.footer .iFirst i {
    position: relative;
    margin-top: 0.128rem  /* 10/78 */;
}
.footer .my {
    display: flex;
    flex-direction: column;
    margin-top: 0.128rem  /* 10/78 */;
    /*margin-left: 90px;*/
}
/*footer结束*/





/* 遮罩层开始*/
.cover {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0.3;
}
/* 遮罩层结束*/