<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/personal_info.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_3177205_zo49idqeoes.css">
    <script type="text/javascript" src="../js/flexible.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/axios.min.js"></script>
    <title>个人信息</title>
</head>
<body>
<div id="root">
    <!--头部开始 -->
    <div class="header">
        <div class="return" onclick="location.href='/my.html'"></div>
        <h1 class="self">个人信息</h1>
        <h1 class="edit" @click="editTurn()" v-show="!editFlag"> 编 辑</h1>
        <h1 class="edit" @click="editTurn()" v-show="editFlag"> 保 存</h1>
    </div>
    <!-- 头部结束 -->


    <!-- 中间部分开始 -->
    <div class="content_continer">

        <!--信息编辑部分-->
        <div class="continer">
            <div class="continer_box">
                <h1 class="hfirst">头像</h1>
                <!-- <div class="touxiang"></div> -->
                <img src="../img/dog.jpg" class="touxiang">
            </div>

            <div class=" continer_box">
                <h1>ID</h1>
                <input type="text" placeholder="请输入" v-model="info.id" disabled="disabled">
            </div>

            <div class="continer_box">
                <h1>昵称</h1>
                <input type="text" placeholder="请输入" v-model="info.username" :disabled="!editFlag" maxlength="10">
            </div>

            <div class="continer_box">
                <h1>性别</h1>
                <div class="choice">
                    男<input type="radio" name="sex" style="zoom:1.5" value="男" v-model="info.sex" :disabled="!editFlag">
                    女<input type="radio" name="sex" style="zoom:1.5" value="女" v-model="info.sex" :disabled="!editFlag">
                    其他<input type="radio" name="sex" style="zoom:1.5" value="其他" v-model="info.sex" :disabled="!editFlag">
                </div>

            </div>


            <div class="continer_box">
                <h1>生日</h1>
                <input type="date" v-model="getBirth" name="bday" :disabled="!editFlag">
            </div>


            <div class="continer_box">
                <h1>手机</h1>
                <input type="number" placeholder="请输入" maxlength="11" v-model="info.phoneNum" :disabled="!editFlag">
            </div>

            <div class="continer_box">
                <h1>邮箱</h1>
                <input type="email" placeholder="请输入" v-model="info.email" :disabled="!editFlag">
            </div>

        </div>

        <!--修改密码-->
        <div class="password">
            <i class="iconfont icon-bianjishuru"></i>
            <h6 class="changepassword" @click="toPasswordModify()">修改密码</h6>
        </div>


    </div>
    <!-- 中间部分结束 -->

</div>
    <script type="text/javascript">
    Vue.config.productionTip = false;

    const vm = new Vue({
        el: '#root',
        data:{
            editFlag: false,
            birth:{
              year: '',
              month: '',
              day: '',
            },
            info: {
                id: '',
                username: '',
                sex: '',
                birth: '',
                phoneNum: '',
                email: '',
                photoUrl: '',
            },
        },
        created(){
            this.getInfo();
        },
        methods: {
            toPasswordModify() {
                location.href = "/changepassword.html"
            },
            editTurn() {
                if (this.editFlag === false) {
                    this.editFlag = !this.editFlag;
                } else {
                    axios.put("http://localhost/xhk/user/", this.info).then((res) => {
                        if (res.data) {
                            alert('操作成功😊');
                            location.reload();
                        } else {
                            alert('操作失败☹');
                            location.reload();
                        }
                    })
                }
            },
            getInfo() {
                let xhr = new XMLHttpRequest();
                xhr.open('get', 'http://localhost/xhk/user/' + this.getCookie('curId'));
                xhr.send();
                xhr.onreadystatechange = () => {
                    if (xhr.status === 200 && xhr.readyState === 4) {
                        let parse = JSON.parse(xhr.responseText);
                        this.info.id = parse.id + 777;
                        this.info.username = parse.username;
                        this.info.sex = parse.sex;
                        // this.info.birth = parse.birth;
                        this.birth.year = this.getYear(parse.birth);
                        this.birth.month = this.getMonth(parse.birth);
                        this.birth.day = this.getDay(parse.birth);
                        this.info.phoneNum = parse.phoneNum;
                        this.info.email = parse.email;
                    }
                }
            },
            getYear(birth) {
                if (birth === undefined) {
                    return 'yyyy';
                }
                let date = new Date(birth);
                return date.getFullYear();
            },
            getMonth(birth) {
                if (birth === undefined) {
                    return 'MM';
                }
                let date = new Date(birth);
                return (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1);
            },
            getDay(birth) {
                if (birth === undefined) {
                    return 'dd';
                }
                let date = new Date(birth);
                return date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
            },
            //通过名字获取cookie
            getCookie(cname) {
                let cookies = document.cookie.split(";");
                let cookName = []
                let cook = [];
                for (let i = 0; i < cookies.length; ++i) {
                    let cookie = cookies[i].split("=");
                    cookName[i] = cookie[0];
                    cook[i] = cookie[1];
                }
                for (let i = 0; i < cookName.length; ++i) {
                    if (cookName[i] === cname) {
                        return cook[i];
                    }
                }
                return '';
            },
        },
        computed:{
            getBirth:{
                get(){
                    return this.birth.year + '-' + this.birth.month + '-' + this.birth.day;
                },
                set(val){
                    this.info.birth = val;
                }
            }
        }
    })
</script>
</body>

</html>